# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches:
      - master
      - development
  pull_request:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  tests:
    name: Testing Python ${{matrix.python-version}} on ${{matrix.os}}
    
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
        python-version: ["3.10", "3.11", "3.12", "3.13"]
        
    runs-on: ${{matrix.os}}

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4

      - name: Setup python
        uses: actions/setup-python@v5
        with:
          python-version: ${{matrix.python-version}}
          
      - name: Package installation
        run: pip install -e .

      - name: Qt5 defaults
        shell: bash -l {0}
        run: |
          if [[ "$RUNNER_OS" == "Linux" ]];
          then
            echo "Qt5 default installation on $RUNNER_OS"
            sudo apt-get install qttools5-dev-tools
          fi

          if [[ "$RUNNER_OS" == "Windows" ]];
          then
            echo "Qt5 default installation on $RUNNER_OS"
            choco install qt5-default
          fi

      - name: Headless display setup
        uses: pyvista/setup-headless-display-action@v3

      - name: Testing on branch -> ${{github.head_ref || github.ref_name}}
        run: pytest online_monitor

  # coveralls:

    name: Generating coverage report and upload to coveralls.io
    runs-on: ubuntu-latest
    needs: tests
    steps:

      - uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
     
      - name: Install
        run: |
          pip install blosc
          pip install -e .
          sudo apt-get install qttools5-dev-tools
          
      - name: Headless display setup
        uses: pyvista/setup-headless-display-action@v3 

      - name: Coverage report and upload  
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          pip install coverage coveralls 
          coverage run --source=online_monitor -m pytest online_monitor/testing/
          coveralls --service=github
          