name: Build wheels

on: workflow_dispatch
  # release

jobs:
  build_wheels:
    name: Build wheels on ${{matrix.os}} for Python ${{matrix.python_version}}
    runs-on: ${{matrix.os}}
    strategy:
      matrix:
        os: [ubunu-22.04, ubuntu-24.04]  # , windows-2025, macos-15]
        python_version: ["3.9", "3.10", "3.11", "3.12", "3.13"]
    steps:
    - uses: actions/checkout@v5

    - name: Setup Python
      uses: actions/setup-python@v6
      with:
        python-version: ${{matrix.python_version}}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install wheel

    - name: Build wheels
      run:
        python -m pip wheel --wheel-dir=./wheels .

    - uses: actions/upload-artifact@v4
      with:
        name: ${{matrix.os}}-py${{matrix.python_version}}.whl
        path: ./wheels/*.whl

  merge:
    runs-on: ubuntu-latest
    needs: build_wheels
    steps:
    - name: Merge artifacts
      uses: actions/upload-artifact/merge@v4
      with:
        name: wheels
        pattern: "*-py*"

  build_sdist:
    name: Build source distribution
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Setup python
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"
        
      - name: Install build module
        run: python -m pip install build

      - name: Build sdist
        run: python -m build --sdist

      - uses: actions/upload-artifact@v4
        with:
          name: 'sdist.tar.gz'
          path: dist/online_monitor*.tar.gz
