name: Build wheels

on: workflow_dispatch
  # release

jobs:
  build_wheels:
    name: Build wheels on ${{matrix.os}}
    runs-on: ${{matrix.os}}
    strategy:
      matrix:
        os: [ubuntu-24.04, windows-2025, macos-15]
    steps:
    - uses: actions/checkout@v5

    - name: Build wheels
      uses: pypa/cibuildwheel@v3.2.0
      with:
        output-dir: wheels
      env:
        CIBW_ARCHS_MACOS: "x86_64 universal2 arm64"
        CIBW_ARCHS_LINUX: "x86_64 i686"
        CIBW_ARCHS_WINDOWS: "AMD64"
        CIBW_BUILD: cp39-* cp310-* cp311-* cp312-* cp313-* # Build on CPython 3.9 - 3.13
        CIBW_PROJECT_REQUIRES_PYTHON: ">=3.9"
        CIBW_SKIP: "*_ppc64le *_s390x *-musllinux*"
        CIBW_TEST_COMMAND: pytest {package}
        CIBW_TEST_SKIP: "*-macosx_*"
      
    - uses: actions/upload-artifact@v4
      with:
        path: ./wheels/online_monitor*.whl

  build_sdist:
    name: Build source distribution
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Setup python
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"
        
      - name: Install build module
        run: python -m pip install build

      - name: Build sdist
        run: python -m build --sdist

      - uses: actions/upload-artifact@v4
        with:
          path: dist/online_monitor*.tar.gz
